@"
# Виртуальное окружение
.venv/
venv/
ENV/
env/

# Файлы с секретами
set_env.ps1
connection_config.ini
*.ini

# Кэш Python и временные файлы
__pycache__/
*.pyc
.pytest_cache/
*.log
build/
"@ | Out-File -FilePath .gitignore -Encoding utf8
.vscode/